*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(0, 0, 0);
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo h1{
    letter-spacing: 6px;
    color: rgb(255, 251, 251);
}
.logo h1 span{
    color: #ff0048;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: translateY(-10);
    transition: 0.4s;
}
nav ul li a:hover{
    color: #dc134d;
}
.welcome-head{
    margin-top:3%;
    background: rgba(1, 1, 1, 0.9);
    opacity: 5px;
    position: relative;
    align-items: center;
}
.welcome-head h3{
    text-align: center;
    padding: 10%;
    font-size: 35px;
    font-family: 'Aclonica', sans-serif;
    color: #fff;
}
.welcome-head h3 span{
    color: rgb(255, 0, 43);
    font-family: 'Josefin Sans', sans-serif;
}
/* this section is for introduction and numbers stating.. */
.introduction{
    margin-top:3%;
    background: rgba(1, 1, 1, 0.9);
    opacity: 5px;
    position: relative;
    align-items: center;
}
.introduction h1{
    text-align: center;
    padding: 10%;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
.introduction h1 span{
    color: rgb(9, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
}
.introduction-snapchat{
    margin-top:3%;
    background: rgba(1, 1, 1, 0.9);
    opacity: 5px;
    position: relative;
    align-items: center;
}
.introduction-snapchat h1{
    text-align: center;
    padding: 10%;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
.introduction-snapchat h1 span{
    color: rgb(217, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
}
/* this section is for introduction and numbers Ending.*/

.section1{
    min-width: 100%;
    margin: auto;
}
.section2{
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 1000px;
}
.section1 .heading-para{
    width: 100%;
    margin: auto;
}
.section1 .heading-para h1{
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
    font-weight: 400px;
    padding: 20px;
    font-size: 75px;
}
.section1 .heading-para p{
    text-align: center;
    color: lavender;
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
}
.vidcontainer{
    position: absolute;
    width: 100%;
}
.vidcontainer video{
    width: 100%;
    height: 1000px;
    margin: 199px 0px;
    left: 0;
}
.sectioin2-body h1{
    padding-top: 150px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
}
.sectioin2-body h1 span{
    text-align: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    color: #dc134d;
    font-size: 40px;
}
.sectioin2-body p{
    text-align: center;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    color: crimson;
    font-size: 20px;
}
.sectioin2-body .button{
    position: absolute;
    justify-content: center;
    text-align: center;
    padding: 0px 100px;
    margin-left: 35%;
}
.button a{
  background: #dc134d;
  padding: 10px 30px;
  color: #fff;
  border: #dc134d;
  transform: translateX(-50%);
  transition: 0.8s;
}
.button a:hover{
    background: #fff;
    color: #000;
    border: #fff;
}
.custom-shape-divider-bottom-1638925361 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638925361 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 221px;
}

.custom-shape-divider-bottom-1638925361 .shape-fill {
    fill: #e8eb4b;
}
/* categoiries */
.parallax{
    min-height: 600px;
    background: transparent;
    background-size: cover;
}
.section-3{
    width: 100%;
    height: 900px;
    background: #e8eb4b;
}
.section-3 h1{
    font-weight: 600px;
    text-align: center;
}
/* section border */
.custom-shape-divider-bottom-1639405965 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1639405965 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1639405965 .shape-fill {
    fill: #FFFCFC;
}
footer{
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 20px 50px;
    flex-direction: column;
}
footer .social-links, .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social-links li, .menu li{
    list-style: none;
}
footer .social-links li a{
    font-size: 2em;
    color: #000;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
}
footer .social-links li a:hover{
    transform: translateY(-10px);
    color: #dc134d;
}
footer .menu li a{
    font-size: 1.2em;
    color: #000;
    margin: 0 10px;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
}
footer .menu li a:hover{
    transform: translateY(-10px);
    color: #dc134d;
}
footer p{
    text-align: center;
    color: #000;
    margin: 10px 10px;
    padding: 10px 10px;
}
/* this is for the products page: */
.carousel-inner{
    transition: 0.5s;
}
.carousel-inner:hover{
    filter: grayscale(10);
    opacity: 0.8;
    transform: translateY(-10px);
}
.carousel-caption h3{
    font-size: 2em;
    color: #dc134d;
}
.carousel-caption p{
    color: #000;
    font-size: 20px;
}
/* ABout cards */
.campus{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(266,0,0,0.7);
}
.layer p{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p{
    bottom: 49%;
    opacity: 1;
}

/* end of products page */
/* LOgin Page.*/
.uname{
    padding: 5px;
    margin-left: 15px;
    font-size:30px;
    color:#ff0048;
}
.pass{
    margin-left: 15px;
    padding: 5px;
    font-size:30px;
    color:#ff0048;
}
.txtuname{
    margin-left: 15px;
    border-radius: 15px;
    padding: 5px;
}
.txtpass{
    border-radius: 20px;
    padding: 5px;
    margin-left: 15px;
}
/* end of login page. */
/* Contacts page */
.contact-form{
    width: 100%;
    height: 500px;
    background: #dc134d;
}
.map-container{
    width: 100%;
    height: 600px;
}
/* End  og contact page */


/* FOR THE WHAT'S APP PAGE. */
section-whatsapp{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #111;
    flex-direction: column;
    overflow: hidden;
}
section-whatsapp .row{
    position: relative;
    top: -50%;
    cursor: default;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 55px;
}
section-whatsapp .row i{
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0px 5px;
    user-select: none;
    cursor: default;
}
section-whatsapp .row i:hover{
    transition: 0.0s;
    color: #0f0;
    text-shadow:  0 0 120px #0f0;
}
/* FOR THE SNAPCHAT PAGE. */
section-Snapchat{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #111;
    flex-direction: column;
    overflow: hidden;
}
section-Snapchat .rows1{
    position: relative;
    top: -50%;
    cursor: default;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 55px;
}
section-Snapchat .rows1 i{
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0px 5px;
    user-select: none;
    cursor: default;
}
section-Snapchat .rows1 i:hover{
    transition: 0.0s;
    color: rgb(200, 255, 0);
    text-shadow:  0 0 120px rgb(200, 255, 0);
}
/*registraion page*/
.navi{
    min-width: 100%;
    height: 60px;
    background: #000;
    box-shadow: 5px 4px 5px rgb(161, 161, 161);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 1px;
}
.navi h1{
    color: #fff;
    padding: 10px;
    font-size: 25px;
}
.navi h1 span{
    color: #dc134d;
    font-family: 'Shadows Into Light', cursive;
}
.account-window{
    width: 50%;
    height: 550px;
    border-radius: 6px;
    margin: auto;
    background: rgb(26, 26, 26);
    box-shadow: 5px 4px 5px rgb(161, 161, 161);
    margin-top: 20px;
}
.account-credentials{
    color: #fff;
    margin-left: 35px;
    margin-top: 20px;
}
.account-credentials h1{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    padding: 30px;
}
.btno{
    width: 25%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    color: #000;
    background: #fff;
    transform: translateY(20%);
}
.btno:hover{
    color: #fff;
    background: #ff0048;
    transition: 0.2s;
   
}
#uname{
    outline: none;
    padding: 5px;
    font-size: 15px;
}
#fname{
    outline: none;
    padding: 5px;
    font-size: 15px;
}
#udates{
    outline: none;
    padding: 5px;
    font-size: 15px;
}
#email{
    outline: none;
    padding: 5px;
    font-size: 15px;
}
#pass{
    outline: none;
    padding: 5px;
    font-size: 15px;
}
/* LOGINI CREDENTIALS */
.account-window-2{
    width: 100%;
    height: 500px;
    background: rgb(26, 26, 26);
    box-shadow: 5px 4px 5px rgb(161, 161, 161);
}
.account-credentials-2{
    color: #fff;
    margin-left: 35px;
}
.account-credentials-2 h2{
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    padding: 10px;
}
.account-credentials-2 p{
    color: lightblue;
    margin-top: 15px;
    font-size: 20px;
}
.btno2{
    width: 25%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    color: #000;
    background: #fff;
    transform: translateY(20%);
}
.btno2:hover{
    color: #fff;
    background: #ff0048;
    transition: 0.2s;
}
/* About us Start*/
.About-us{
    text-align: center;
    min-width: 100%;
    height: 600px;
    background: rgb(255, 55, 55);
}
.leftside{
    float: left;
    width: 35%;
    height: 600px;
    background: #000000;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.leftside img{
    border-radius: 6px;
    margin: auto;
    width: 300px;
    padding: 50px 50px;
    height: 250px;
    z-index: 10;
    background-size: cover;
}
.leftside h1{
    color: #fff;
    padding: 10px;
    font-size: 35px;
}
.par p{
    padding-top: 250px;
    color: #fff;
}
/* .parallax p{
    color: #fff;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 200px;
} */
/* About us End*/
